body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1 {
    text-align: center;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /
    text-align: center; /* Centre le texte à l'intérieur de la div */
}
