body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1 {
    text-align: center;
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    
    display: flex; /* Active Flexbox */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    height: 100vh; /* La div prend toute la hauteur de la fenêtre */
    text-align: center; /* Centre le texte à l'intérieur de la div */
}
