<!DOCTYPE html>

<html lang="fr">
<head>
    <title>TextLens</title> 

    <link rel="stylesheet" href="/static/style.css">

    <meta name="keywords" content="TextLens, textlens, Textlens, Tokam Judicael">
    <!-- <meta http-equiv="refresh" content="20"> --> 
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Police Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!-- Favicon -->  
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">


    
</head>
<body>
    <div class="content">
        
        <div class="header"> 
            <h1> Welcome to Text lens </h1>
        </div>
        <!-- Boîte de saisie -->
        <form method="POST">
            <div class="input-box">
                <label for="text">Enter text:</label><br>
                <textarea name="text" id="text" rows="5" cols="40" required></textarea><br><br>
                <div class="loader" id="loader"></div>
            </div>
            <input type="radio" id="summarize" name="action" value="summarize" required>
            <label for="summarize">Summarize</label><br>
    
            <input type="radio" id="test_yourself" name="action" value="test_yourself" required>
            <label for="test_yourself">Test Yourself</label><br><br>
            <!-- Bouton d'action -->
            <button type="submit" id="submitBtn">Submit</button>
        </form>
        {% if result %}
            <h2>AI Response:</h2>
            <p>{{ result }}</p>
        {% endif %}
        
        <!-- Zone d'affichage du texte saisi -->
        <p id="displayText"></p>
    

    </div>

    <!-- Lien vers le fichier JavaScript -->
    <script src="/static/script.js"></script>
    
</body>

</html>
